#popup {
    position: absolute;
    border: 1px solid #ccc;
    background: #fff;
    box-shadow: 0 2px 8px #ccc;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius:5px;
    bottom: 0;
}
  
.popup-item {
    padding: 8px; 
    cursor: pointer; 
}
  
.popup-item + .popup-item {
    border-top: 1px solid #ccc; 
}